/* CSS for index */

body {
    font-family: "Montserrat";
    color: #2E3840;
}


.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F7F1E5;
}

#main-heading {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 2.5%;
    margin: 0px 0px;
    font-weight: 700;
}

.form{
    padding:0% 41%;
}

#form {
    margin:0% 0%;
}

fieldset {
border: 2px solid #A2B5BB;
border-radius: 4px;
padding: 10%;
margin: 10% 0;
}

legend {
text-align: center;
font-size: 1rem;
margin-bottom: 0;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

#male {
    margin-left: 20px;
}

#NE {
margin-left: 5px;
}

#SW {
margin-left: 4px;
}

#SE {
margin-left: 10px;
}

label {
    margin: 0; 
}

.input-color {
    background-color: #CFD2CF;
    color: #576F72;
    width: 100px;
    border: 1px solid #3AB4F2;
    border-radius: 4px;
}
 
.submit-button {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.pred-result {
    padding-top: 20%;
    font-size: 1.3rem;
    text-align: center;
}

#cost {
    font-weight: bold;
    font-size: 1.5rem;
}

.limitation {
    padding:8% 23%;
    margin: 0;
    font-size: 0.8rem;
}

.copyright {
    text-align: center;
    padding-bottom: 3%;
}


@media screen and (max-width: 1250px){
    .form {
        padding: 0% 34%;
    }
}

@media screen and (max-width: 1100px){
    .form {
        padding: 0% 32%;
    }
}

@media screen and (max-width: 970px){
    .form {
        padding: 0% 29.5%;
    }
}

@media screen and (max-width: 850px){
    .form {
        padding: 0% 26%;
    }
}

@media screen and (max-width: 730px){
    .form {
        padding: 0% 22%;
    }
}

@media screen and (max-width: 630px){
    .form {
        padding: 0% 18%;
    }
}

@media screen and (max-width: 550px){
    .form {
        padding: 0% 10%;
        font-size: 0.9rem;
    }

    #main-heading {
        padding-bottom: 10%;
    }

    .limitation {
        font-size: 0.7rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}


